.j7j8r {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 70px;
  column-gap: 70px;
  row-gap: 30px;
  flex-wrap: wrap;
}
.WvvWP {
  width: 130px;
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
  color: transparent;
}